.app {
  text-align: center;
  font-family: "Helvetica";
}

.app-header {
  background-color: #404859;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.header-container {
	min-width: 630px;
	margin: 0 auto;
}

.app-navigation-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-header-navigation {
	flex-basis: 20%;
}

ul { 
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.app-header-navigation  a { 
	color: #fff;
	text-decoration: none;
}

.app-slide-info {

}

.main-container {
	display: inline-block;
	min-width: 1166px;
	margin: 0 auto;
}

.main-container h2 { color: rgb(7,30,87); }

.sections-container {
	display: flex;
	justify-content: flex-end;
}

.app-main-navigation { flex-basis: 15%; }

.app-main-navigation a { text-decoration: none; color:rgb(37,54,66); }
